.pullout {
    width: 260px;
    position: fixed;
    right: 0;
}

.tab {
    display: inline-block;
    background-color: red;
    float: left;
    width: 57px;
    height: 60px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    margin-top: 40px;
    border-left: black solid 3px;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
}

.panel {
    display: inline-block;
    float: right;
    border: 3px solid black;
    width: 194px;
    height: calc(100% - 6px);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: darkgray;
}

.title {
    text-decoration: underline;
}

.inputTitle {
    font-size: 22px;
    display: inline-block
}

input {
    font-size: 22px;
    border-radius: 6px;
    border: lightblue solid 2px;
    background-color: darkgrey;
    display: inline-block;
    width: calc(100% - 4px);
    text-align: center;
}

td {
    text-align: center;
}