body {
    margin: 0px;
    background-color: $color1;
}

.page {
    height: 100vh;
}

.tiled {
    background-color: $color2;
}

.left {
    width: calc((100vw - 20px - 90vh) / 2);
    float: left;
    display: inline-block;
    z-index: 10000;
}

.center {
    width: calc(90vh + 20px);
    text-align: center;
    display: inline-block;
}

.right {
    width: calc((100vw - 20px - 90vh) / 2);
    float: right;
    display: inline-block;
    z-index: 10000;
}

.contractAction {
    border-radius: 4px;
}

.hidden {
    display: none;
}