.canvas {
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    height: 90vh;
    width: 90vh;
}

.canvasContainer {
    margin-top: 5vh !important;
    margin: 0px;
    border: 10px solid $color5;
    display: inline-block;
}

.zoomCanvasContainer {
    float: right;
    margin-top: 5vh !important;
    margin: 0px;
    border: 2px solid $color5;
    display: inline-block;
    z-index: -100;
    &.hide {
        @include animation(fadeout, .5s);
        opacity: 0;
    }
    &.show {
        @include animation(fadein, .2s);
        opacity: 1;
    }
    .zoomCanvas {
        width: calc((100vw - 144px - 90vh) / 2);
        height: calc((100vw - 144px - 90vh) / 2);
        display: block;
        float: right;
    }
}