.canvas {
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    min-height: 400px;
    min-width: 400px;
    height: calc(100vh - 60px);
    width: calc(100vh - 60px);
    border-radius: 2px;
}

.canvasContainer {
    margin: 0px;
    display: inline-block;
    .loading {
        margin-top: -100px;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        position: absolute;
    }
}

.zoomCanvasContainer {
    //border: 2px solid $color5;
    &.hide {
        @include animation(fadeout, .5s);
        opacity: 0;
    }
    &.show {
        @include animation(fadein, .2s);
        opacity: 1;
    }
    .zoomCanvas {
        background-color: black;
        // width: $panelWidthSimple;
        // height: $panelWidthSimple;
        // max-height: calc(50vh - 12px);
        width: 100%;
        height: 100%;
        &.full {
            width: $panelWidthSimple;
            height: $panelWidthSimple;
        }
    }
    &.full {
        width: $panelWidthSimple;
        height: $panelWidthSimple;
    }
}

.banner {
    height: 40px;
    text-align: center;
    font: $font2;
    .headerButtons {
        .ppcLabel {
            width: calc(100% - 400px - 60px);
            border-right: solid black 2px;
            border-left: solid black 2px;
            border-bottom: solid black 2px;
            border-radius: 0px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 0px 8px 8px 8px;
            display: inline-block;
            margin-bottom: 4px;
            height: 24px;
            .token {
                width: 16px;
                vertical-align: middle;
                margin: 0px 8px;
            }
            .text {
                display: inline-block;
                font: $font4;
                color: white;
                font-weight: 400;
                vertical-align: middle;
            }
            .loading {
                width: 16px;
                vertical-align: middle;
                margin: 0px 8px;
            }
        }
        input[type=button].headerButton {
            width: inherit;
            font: $font4;
            color: white;
            font-weight: 400;
            margin: 4px;
            padding: 4px;
            border: none;
            background-color: unset;
            &.left {
                float: left;
                border-right: solid black 2px;
                border-bottom: solid black 2px;
                border-radius: 0px;
                border-bottom-right-radius: 8px;
                margin-left: 0px;
                margin-top: 0px;
                width: 200px;
                padding: 8px;
            }
            &.right {
                float: right;
                border-left: solid black 2px;
                border-bottom: solid black 2px;
                border-radius: 0px;
                border-bottom-left-radius: 8px;
                margin-right: 0px;
                margin-top: 0px;
                width: 200px;
                padding: 8px;
            }
        }
    }
}

.mainSegmentGroup {
    margin-left: 15px !important;
    margin-right: 15px !important;
    height: calc(100vh - 30px);
    min-height: 430px;
    .left {
        width: calc(((100vw - (100vh - 30px) - 120px) / 2) - 50px) !important;
        max-width: calc((100vw - 460px) / 2) !important;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .center {
        width: calc(100vh - 75px) !important;
        min-width: 400px;
    }
    .right {
        width: calc(((100vw - (100vh - 30px) - 120px) / 2) + 50px) !important;
        max-width: calc((100vw - 460px) / 2) !important;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .bidInput {
        width: calc(100% + 14px) !important;
    }
}