.uiBase {
    height: 100%;
    .header {
        height: 40px;
        font: $font3;
        text-align: center;
    }
    .containerParent {
        height: calc(100% - 90px);
        overflow-y: auto;
        .panelItem {
            &.itemTitle {
                font-weight: 600;
            }
        }
    }
    .footer {
        height: 50px;
        display: inline-block;
        width: 100%;
        .bottomNav {
            display: inline-block;
            height: 40px;
            width: calc(33% - 10px);
            margin: 5px;
            text-align: center;
        }
    }
}