@import './Style.scss';
@import './alerts.scss';
@import './animation.scss';
@import './App.scss';
@import './canvas.scss';
@import './PixelDescriptionBox.scss';
@import './ui.scss';
@import './Zoom.scss';
@import './ErrorBox.scss';
@import './switch.scss';
@import './Panel.scss';
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}