//color themes
$color1: rgba(53, 53, 53, 1);
$color2: rgba(180, 144, 130, 1);
$color3: rgba(152, 71, 62, 1);
$color4: rgba(108, 14, 35, 1);
$color5: rgba(7, 9, 15, 1);
//fonts
$font1: 2em arial,
sans-serif;
$font2: 1.5em arial,
sans-serif;
$font3: 1em sans-serif;
//error colors
$color-success: green;
$color-warning: orange;
$color-error: red;