#canvas-div {
    /*position: relative;*/
    /*height: 100%;*/
    /*width:;*/
}

#canvas-pixel {
    margin: auto;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    background: url('../img/loading.svg');
    background-repeat: no-repeat;
    background-position: center;
    /*position: relative;*/
    /*transform: scale(1);*/
}

#wrapper-canvas {
    margin: auto;
    display: block;
    height: 90%;
    width: 90%;
    text-align: center;
    overflow: hidden;
}

#canvas-overlay {
    position: absolute;
    display: block;
    margin: auto;
    color: white;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Unibody8Pro-Bold';
}

#canvas-overlay-text {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.mobile-title {
    display: none !important;
}

.back-btn {
    margin-left: 30px !important;
}

#span-slogan {
    font-size: 2em;
}

.img-fadeIn {
    -webkit-filter: blur(7px);
    -webkit-animation: fadein linear 1.5s;
}

@-webkit-keyframes fadein {
    0% { -webkit-filter: blur(100px);}
    33% { -webkit-filter: blur(75px);}
    66% { -webkit-filter: blur(50px);}
    100% { -webkit-filter: blur(7px);}
    /*100% { -webkit-filter: blur(0px);}*/
}

#span-create,
#span-control,
#span-complete,
#span-pixel, 
#span-property {
    display: inline-block;
    min-height: 82.5px;
}

#wrapper-compete {
    padding-bottom: 25px;
}

#span-create {
    margin-left: -30%;
}
#span-control {
    margin-left: -10%;
}
#span-compete {
    margin-left: 5%;
}

@media only screen and (max-width: 960px)  {
    svg {
        display: none !important;
    }

    #canvas-overlay {
        font-size: 1.5em !important;
        height: 100% !important;
    }

    #span-create,
    #span-control,
    #span-compete,
    #wrapper-compete,
    #span-pixel,
    #span-property {
        display: none !important;
        min-height: 0 !important;
    }

    .mobile-title {
        display: inline-block !important;
        font-size: 2.3em !important;
        padding-top: 0 !important;
    }

    #span-slogan {
        font-size: 1.25em !important;
        padding-top: 60px !important;
    }

    #main-info {
        padding-top: 60px !important;
        top: 30% !important;
    }

    #main {
        padding: 5px !important;
    }

    #canvas-pixel {
        padding-top: 90px !important;
        height: 100% !important;
        width: 100% !important;
    }

    section {
        padding: 20px !important;
    }

    .text-primary  {
        font-size: 1.1em !important;
    }
    
    .footer-title {
        font-size: 1.1em !important;
    }

    .back-btn {
        margin-left: 1px !important;
    }
}

/*#canvas-pixel {
    -webkit-filter: blur(0px);
    -webkit-animation: fadein linear 1.5s;
}

@-webkit-keyframes fadein {
   0% {    -webkit-filter: blur(100px);}
  50% { -webkit-filter: blur(50px);}
 100% {  -webkit-filter: blur(0px);}
}*/

@font-face {
    font-family: 'Unibody8Pro-Bold';
    src: url('../fonts/Unibody8Pro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

.font-pixel {
    font-family: 'Unibody8Pro-Bold';
}

.font-roboto {
    font-family: 'Roboto-Regular';
}

#main {
    height: auto;
    min-height: 100vh !important;
    padding: 40px 0;
}

.red {
    color: red;
}

#main-info {
    /*top: 50%;*/
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#main-info-wrapper {
   /* display: flex;
    aling-items: center;*/
}

.h-card-small {
    font-size: 1em !important;
}

.shadow {
    fill: black;
    stroke: black; 
    stroke-width: 1;
}

.pixel {
    fill: white;
    stroke: white; 
    stroke-width: 1;
}

.btn-white,
.btn-primary {
    /*color: black !important;*/
}

.btn-primary:hover,
.btn-white:hover {
    color: black !important;
}

.icon-links > a > i:hover {
    color: white;
}
