body {
    margin: 0px;
}

.page {
    height: 100vh;
}

.tiled {
    background-color: #1d1a54;
}

.left {
    width: calc((100vw - 1024px) / 2);
    float: left;
    display: inline-block;
}

.center {
    min-width: 1000px;
    max-width: 1000px;
    height: 1000px;
    margin: 0px;
    border: 2px solid black;
    display: inline-block;
}

.right {
    width: calc((100vw - 1024px) / 2);
    float: right;
    display: inline-block;
}

.contractAction {
    border-radius: 4px;
}

.hidden {
    display: none;
}